<ul>
    <!-- <li> -->
        <!-- <a href="http://localhost:3000/coins">Cadastro de Moedas</a> -->
        <!-- <a href="/coins">Cadastro de Moedas</a> -->
    <!-- </li> -->
    <li>
        <%= link_to "Moedas", coins_path %>
    </li>
    </li>
    <li>
        <%= link_to "Mineração", mining_types_path %>
    </li>
</ul>
