<ul>
    <li>
        <%= link_to t('links.begin'), root_path %>
    </li>
    <li>
        <%= link_to "#{Coin.model_name.human}", coins_path %>
    </li>
    </li>
    <li>
        <%= link_to "#{MiningType.model_name.human}", mining_types_path %>
    </li>
</ul>
